@import "tailwindcss";

*:focus {
    outline: none;
}

*:focus-visible {
    @apply ring-3 ring-blue-100;
}

body {
    @apply text-slate-900;
}

@layer components {
    .btn {
        @apply text-slate-700 border border-slate-300 bg-white hover:bg-slate-100 active:bg-white py-2 px-4 rounded-md cursor-pointer transition-all duration-300 shadow-sm hover:shadow-md hover:-translate-y-0.5 hover:border-slate-400;
    }

    .del-btn{
        @apply hover:text-red-500 hover:bg-red-100 hover:border-red-500 transition-all h-8.25 w-8.25 p-1 flex justify-center items-center text-slate-500;
    }

    .next,
    .submit {
        @apply bg-blue-600 text-white border border-blue-600 hover:bg-blue-700 active:bg-blue-600 hover:border-blue-600;
    }

    .same-address-btn {
        @apply text-sm py-1 px-3 bg-slate-50 text-slate-600 border-slate-200 hover:bg-slate-100 active:bg-slate-50;
    }

    .progress {
        @apply h-2 max-w-200 bg-slate-200 rounded-full;
    }

    .progress-fill {
        @apply inset-0 rounded-full bg-blue-600 transition-all duration-500 w-[calc((100%)/6)] shadow-[0_0_8px_rgba(37,99,235,0.4)];
    }

    .badge {
        @apply rounded-full h-6 w-6 z-1 text-slate-700 transition-all duration-500;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .badge-complete {
        background: #2563EB;
        color: white;
        @apply border-2 border-[#2563EB];
    }

    .badge-current {
        background: #2563EB;
        color: white;
        box-shadow: 0 0 12px rgba(37, 99, 235, 0.5);
        @apply border-2 border-[#2563EB];
    }

    .badge-upcoming {
        @apply bg-slate-200 border-2 border-slate-300;
    }

    label span {
        @apply text-slate-700 text-[14px];
    }

    .heading {
        @apply font-semibold text-2xl text-center text-slate-900 mb-1;
    }

    .subheading{
        @apply text-[14px] text-slate-500 text-center mb-6;
    }

    input[type="text"],
    input[type="email"],
    select,
    input[type="date"] {
        @apply px-4 py-2.5 transition-all rounded-md border bg-white border-slate-300 text-slate-900 placeholder-slate-400 focus:border-blue-500 focus:ring-blue-500 hover:border-slate-400 shadow-sm focus:shadow-md duration-300;
    }

    input[type="file"] {
        @apply transition-all rounded-md border bg-white border-slate-300 text-slate-900 placeholder-slate-400 focus:border-blue-500 focus:ring-blue-500 shadow-sm hover:border-slate-400 focus:shadow-md duration-300;
        @apply file:bg-slate-100 file:rounded-l-md file:py-2.5 file:px-4 file:cursor-pointer file:border-r file:border-r-slate-300;
    }

    .subform {
        @apply p-5 bg-slate-50/50 border border-slate-200/60 rounded-xl transition-all duration-200 hover:shadow-md;
    }
}